<!--
    last designed 2016/09/02
    for analysis
-->
<html>
<head>
    <title>Fencing Vis</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/d3.v4.js" charset="utf-8"></script>
    <script src="js/BadmintonCtrl.js"></script>
    <script src="js/scoreMatrixR.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/score_matrix_style.css">
</head>

<body ng-app="myApp" ng-controller="BadmintonCtrl">

<div style="float:left;width:79%;height:100%;overflow:auto;margin:2px;">
    <score-matrix data="badmintonData.game10" operations="badmintonData.operations" style="height:100%;width:100%"></score-matrix>
</div>
<div style="float:left;width:20%;height:100%;overflow:auto;margin:2px;">

    <input type="radio"
           id="mode1"
           name="display_mode"
           value="1" ng-model="badmintonData.operations.display_mode">
    <label for="mode1">Match Winning Rate</label>
    <br>

    <input type="radio"
           id="mode2"
           name="display_mode"
           value="2" ng-model="badmintonData.operations.display_mode">
    <label for="mode2">Match Winning Rate</label>
    <br>

    <input type="radio"
           id="mode3"
           name="display_mode"
           value="3" ng-model="badmintonData.operations.display_mode">
    <label for="mode3">Count</label>
</div>

</body>
</html>


